<body>
    <div id="wrapper">
        <div id="sidebar-nav-wrapper" class="">
        </div>
        <div id="page-content-wrapper" class="clearfix">
            <header>
                <a href="#" class="logo">
                </a>
            </header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content-container">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>